@using RB.DAL.Models
@model Streets
<tr>
    <td class="streetName">@Model.StreetName</td>
    <td class="streetName">@ViewBag.cityName</td>
    <td>
        <a asp-action="Edit" asp-route-id="@Model.StreetId" class="btn btn-info editStreet" data-id="@Model.StreetId">Edit</a>
        <a asp-action="Delete" asp-route-id="@Model.StreetId" class="btn btn-danger delStreet" data-id="@Model.StreetId">Delete</a>
    </td>
</tr>