@model IEnumerable<RB.DAL.Models.DayWeekTimeTables>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WeekDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DayStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DayEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LunchBreakStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LunchBreakEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WeekDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DayStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DayEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LunchBreakStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LunchBreakEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company.CompanyName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DayWeekTimeTableId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DayWeekTimeTableId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DayWeekTimeTableId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
