@model RB.DAL.Models.ZipCodes

<td class="catName">@Model.ZipCode</td>
<td class="zipName">@ViewBag.cityName</td>

<td>
    <a asp-action="Edit" asp-route-id="@Model.ZipCodeId" class="btn btn-info editZipCode" data-id="@Model.ZipCodeId">Edit</a>
    <a asp-action="Delete" asp-route-id="@Model.ZipCodeId" class="btn btn-danger delZipCode" data-id="@Model.ZipCodeId">Delete</a>
</td>